@import '../../assets/sass/Colors.scss';
.main{
    background-color: $lightGray;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 70vw;
    height: 100vh;
}
.main__header{
    height: 25%;
}
.main__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    height: 70%;
    overflow-y: scroll;
    transition: all ease 2s;
    -webkit-transition: all ease 2s;
    &:hover::-webkit-scrollbar-thumb {
        transition: all ease 2s;
        -webkit-transition: all ease 2s;
        background: rgb(48, 227, 4); 
      }
}

.main__card{
    margin-top: 80px;
    background: #1F1D2B;
    border-radius: 16px;
    width: 192px;
    height: 226px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all ease 0.3s;
    &:active{
        background-color: #3e3b53;
        
        transform: scale(0.9);
    }
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -70px;
}
h3{
    color: white;
    margin-top: 14px;
}
b{
    color: white;
    margin-top: 14px;
}
span{
    color: #FFF;
}
}

.header__inner{
    color: white;
    margin: 14px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category__list{
    border-bottom: 1px solid #393C49;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    button{
        background-color: transparent;
        border: none;
        color: white;
        display: flex;
        flex-direction: column;
        position: relative;
        &::after{
            position: absolute;
            bottom: -11px;
            content: '';
            width: 50%;
            padding: 1px;
            background: transparent;
        }
    }
}

.category__list .btn__active{
    color: #EA7C69;
   
    &::after{
        background: #EA7C69;
    }
}